span.note {
	color: gray;
	font-style: italic;
}

/* Added for temporary solution (see theme-gallery.php) */
.available-theme {
	width: 320px;
	margin: 20px auto;
	font-size: 115%;
	text-align: center;
}
