span.note {
	color: gray;
	font-style: italic;
}

/* Added for temporary solution (see theme-gallery.php) */
.available-theme {
	width: 360px;
	margin: 20px auto;
	font-size: 115%;
	text-align: center;
}

.available-theme .screenshot {
	display: inline-block;
	width: 300px;
	height: 225px;
}